<div *ngIf="newTask$ | async as newTask" >
    <div *ngIf="board$ | async as board">
        
        <mat-form-field appearance="fill">
            <mat-label>Enetr new task title</mat-label>
            <input matInput #newTitleInput="ngModel" [ngModel]="newTask.title" (ngModelChange)="getNewTaskTitle($event)" minlength="5" required>
            <mat-error *ngIf="newTitleInput.errors?.minlength">
                Name must be at least 5 characters long.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select  [ngModel]="newTask.status" (selectionChange)="getNewTaskStatus($event.value)" required>
                <mat-option *ngFor="let status of board.statusList" [value]="status.id"> {{status.name}} </mat-option>
            </mat-select>
        </mat-form-field>

        <button [disabled]="newTitleInput.errors !== null" mat-flat-button color="primary" (click)="addTaskToBoard(newTask)">Add</button>

    </div>
</div>

<div *ngIf="board$ | async as board">
    <div cdkDropListGroup class="example-container">
        <div
        *ngFor="let status of board.statusList"
        cdkDropList
        [cdkDropListData]="[status.id]"

        (cdkDropListDropped)="dropChangeStatus($event)"
        >
            <h2>{{status.name}}</h2>
            <div  *ngFor="let task of board.taskList">
                <div  *ngIf="task.status === status.id" class="example-list"  >
                    <div cdkDrag  class="example-box" [cdkDragData]="task" >
                        <p>{{task.title}}</p>
                        <mat-form-field appearance="fill">
                            <mat-label>Status</mat-label>
                            <mat-select  [ngModel]="task.status" (selectionChange)="updateTask(task, $event.value)" >
                                <mat-option *ngFor="let statusOption of board.statusList" [value]="statusOption.id"> {{statusOption.name}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-stroked-button (click)="deleteTaskFromBoard(task.id)"><mat-icon>delete</mat-icon></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
